// Screen
// ======

@import "grids";
@import "partials/normalize";
@import "partials/variables";
@import "partials/layout";
@import "breakpoint";


header {
  height: 100px;
  background: $white;
  color: $black;
  margin-bottom: 10px;
  padding: 10px;

  navbar {
  text-align: center;
  ul, li {
    padding: 0;
  }
  li {
    background: $gray;
  }
  a {
    text-decoration: none;
    color: $white;
    &:hover {
      color: $yellow;
    }
  }
  }

}
 
.wrapper {
  background: $white;
  margin: 0 auto;
  max-width: 900px;
}
 

 
.first-row {
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
}
 
.first-row .first{
  background: $yellow;
  height: 100%;
}
 
.first-row .second{
  height: 100%;
}
 
.first-row .second div{
  background: $orange;
  height: 100%;
}
 
.pic-gallery {
  div {
    background: $violet;
    height: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }
}
 
.content-bar {
  div {
    background: $green;
    height: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }
}
 
footer {
  height: 100px;
  background: $blue;
  color: $white;
  margin-top: 10px;
  padding: 10px;
  clear: both;
}



header {
	@include full;

	.navbar {
		@include span(last 2);

		@include breakpoint((max-width 50em)) {
			@include span(last 4);
		}
	}

	.navbar{
		@include full;
	}

	.nav-item {
		@include span(3 last of $nav_susy_layout);
	}

}

.wrapper {
	@include container;
}


